body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: gold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1em;
    color: gold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: darkorchid;
}

.logo {
    font-size: 1.5em;
}

header {
    text-align: center;
    padding: 2em;
    background-color: dimgray;
    color: gold;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.pleiades .grid-item img {
    width: 500px;
    height: 600px;
    object-fit: cover;
}

.content,
.sidebar,
.grid-item,
.grid-item2 {
    padding: 1em;
    background-color: dimgray;
    transition: box-shadow 0.3s ease;
    text-align: center;

}

.content img,
.sidebar img,
.grid-item img,
.grid-item2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 0.5em;
}

.additional-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    text-align: center;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 1em);
    max-width: calc(33.33% - 1em);
    padding: 1em;
    background-color: dimgray;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 0.5em;
    text-align: center;
}


.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    margin-top: 2em;
}

.episode-item {
    flex: 0 0 calc(33.33% - 1em);
    max-width: calc(33.33% - 1em);
    padding: 1em;
    background-color: dimgray;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.episode-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .additional-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .episodes,
    .gallery {
        justify-content: space-between;
    }

    .episode-item,
    .gallery-item {
        flex: 0 0 calc(48% - 1em);
        max-width: calc(48% - 1em);
    }

    .episode-item img,
    .gallery-item img {
        height: 200px;
    }
}


@media screen and (min-width: 1200px) {
    .main-content {
        grid-template-columns: 2fr 1fr;
    }

    .additional-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .episodes {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery {
        justify-content: space-between;
    }

    .episode-item,
    .gallery-item {
        flex: 0 0 calc(23% - 1em);
        max-width: calc(23% - 1em);
    }

    .episode-item img,
    .gallery-item img {
        height: 250px;
    }
}
